/* Media query för mindre skärmar */

.login-popup {
    height: 35%;
    width: 15%;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: lightsteelblue;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    font-family: 'Poppins', sans-serif;
  }

.userlogin{
  display: block;
  align-items: center;
  justify-content: center;
}
  .login-status{
    color:black;
      display: flex;
      align-items: center;    
}

.login-button{
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.login-button:hover{
  font-size: larger;
}
  
  .login-popup label {
    display:flex;
    justify-content: center;
    font-size: 18px;
    line-height: 42px;
    color: black;
  }
  
  .login-popup input {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:rgb(0, 0, 0);
    border-radius: 3px;
    width: 100%;
    font-size: 18px;
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
  }

  .login-form-button {
    margin-top: 35px;
    width: 50%;
    background-color: whitesmoke;
    color: #000000;
    padding: 15px 0;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-form-button:hover{
    background-color:rgb(109, 127, 150);
  }

  .loggedInView{
    cursor:context-menu;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin-left: 10rem;
    white-space: nowrap;
  }

  .logged-in-user {
    color:rgb(0, 0, 0);
    cursor:context-menu;
  }

  .logout-popup {
    margin-left: 1rem;
  }
  
  .logout-button {
    background-color: rgb(123, 148, 182);
    color: white;
    padding: 5px 10px 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {

    background-color: rgb(109, 127, 150); 
  }
  
  .login-popup .close-button{
    position: absolute;
    top: 15px; /* Justera toppmarginalen efter behov */
    right: 15px;
    margin-top: 3px; /* Justera utrymmet för stängningsknappen om det behövs */
    font-size: 15px; /* Ange en annan storlek för stängningsknappen */
    border: none; /* Ta bort gränsen för stängningsknappen om det behövs */
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(68, 68, 68, 2.4);
    color: whitesmoke;
  }



  @media only screen and (max-width: 900px) {
    .login-popup{
      width:50%;
  
    }
  }