.login-popup {
    height: 35%;
    width: 15%;
    background-color: rgb(68, 68, 68, 2.4);
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(68, 68, 68, 2.4);
  }

.userlogin{
  display: block;
  align-items: center;
  justify-content: center;
}
  .login-status{
    color:white;
      display: flex;
      align-items: center;
}

.login-status .span:hover {
  text-decoration: underline whitesmoke;
  font-size: 20px; 
  text-shadow: 5px 5px 5px black;
}
  
  .login-popup label {
    display:flex;
    justify-content: center;
    font-size: 18px;
    line-height: 42px;
    color: rgb(255, 255, 255);
  }
  
  .login-popup input {
    display:flex;
    align-items: center;
    height: 30px;
    background-color: rgb(58, 58, 58);
    color:white;
    border-radius: 3px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 300;
    width: calc(80% - 20px);
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.468);
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-popup .login-button {
    margin-top: 35px;
    width: 50%;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-left: 10rem;
    white-space: nowrap;
    cursor: pointer;
  }

  .logout-popup {
    margin-left: 1rem;
  }
  
  .logout-button {
    font-size: 15px;
    padding: 8px 10px; 
    color: rgb(255, 255, 255); 
    cursor: pointer;
    background-color: transparent; 
  }
  
  .logout-button:hover {

    background-color: #ebdddb; 
  }
  
  .login-popup .close-button{
    position: absolute;
    top: 15px; /* Justera toppmarginalen efter behov */
    right: 15px;
    margin-top: 3px; /* Justera utrymmet för stängningsknappen om det behövs */
    font-size: 15px; /* Ange en annan storlek för stängningsknappen */
    border: none; /* Ta bort gränsen för stängningsknappen om det behövs */
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(68, 68, 68, 2.4);
    color: whitesmoke;
  }

    font-size: 18px; 
  }

