.login-popup {
    height: 35vh;
    width: 15vw;
    background-color: rgb(68, 68, 68, 2.4);
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(68, 68, 68, 2.4);
  }

.userlogin{
  display: block;
  align-items: center;
  justify-content: center;
}
  .login-status{
    color:white;
  }
  
  .login-popup label {
    display:flex;
    justify-content: center;
    font-size: 18px;
    line-height: 42px;
    color: white;
  }
  
  .login-popup input {
    display:flex;
    align-items: center;
    height: 30px;
    background-color: rgb(58, 58, 58);
    color:white;
    border-radius: 3px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 300;
    width: calc(80% - 20px);
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.468);
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-popup button {
    margin-top: 50px;
    width: 50%;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-status .span:hover {
    text-decoration: underline whitesmoke;
  }

  .logout-popup button{
    font-size: 15px;
  }